@media(min-width:$widthS){
    .promo{
        @include flex;
        background-image: url(../images/bg_main.svg);
        @include bacgroundImg-settings;
        background-size: cover;
        position: relative;
        color: $color-light;

        .wrapper-promo{
            @include mini-wrapper;

            // .menu{
            //     display: none;
            // }

            .content{
                @include flex-column;
                text-align: center;
                margin-top: 250px;
                margin-bottom: $margin-xl;
        
                .title{
                    font-size: $text-size-XL;
                    font-weight: bold;
                }
                .btn{
                    margin-top: 50px;
                    @include btn;
                }
            }
            .cards{
                display: none;
            }

        }
    }
}
@media(min-width:$widthL){
   .promo{
        background-image: url(../images/main_pic.svg);
            min-width: 868px;
            align-items: stretch;
            height: 100vh;

        .wrapper-promo{
            margin: 0;
            margin-top: $margin-xs;

            .content{
                margin-bottom: $margin-m;
                margin-top: 200px;

                .cards{
                    @include flex-column;

                    .divider-horizontal::before{
                        background-image: url(../images/divider_horizontal.svg);
                        width: 100%;
                        height: 1px;
                    }
                    .card-container{
                        @include flex-row;
                        justify-content: space-between;
                        max-width: 1110px;
                        margin-top: 30px;

                        .card{
                            @include flex-row;
                        }
                        .card-img::before{
                            display: inline-block;
                            width: 160px;
                            height: 60px;
                            background-image: url(../images/cards_main.svg);
                        }
                        .divider-vertical{
                            width: 1px;
                            height: 60px;
                            background-image: url(../images/divider-vertical.svg);
                        }
                    }

                }
            }
        }
   } 
}