$header-color1: #333;
$bg-color-dark:#333;
$bg-color-light:#fff;

$font-family1: 'Noto-Serif';
$font-family2:'Gilroy';
$color-dark: #333;
$color-light: #fff;

$widthS: 320px;
$widthM: 768px;
$widthL:1024px;

$text-size-XS: 14px;
$text-size-S: 18px;
$text-size-M:21px;
$text-size-L:24px;
$text-size-XL: 36px;

$logo-width-L:216px;
$logo-heigh-L:52px;

$article-card-width:350px;
$article-card-heigh:370px;

$align: center;

$widthS: 320px;
$widthM: 768px;
$widthL:1024px;

$mobile-btn-width:34px;
$mobile-btn-heigh:30px;

$width-card-products:350px;
$height-card-products:280px;

$margin-xs:25px;
$margin-s: 60px;
$margin-m:80px;
$margin-l:100px;
$margin-xl:120px;




